[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dstepanovsrc
[access "refs/for/refs/*"]
	read = group user/dstepanovsrc
	push = group user/dstepanovsrc
	label-Code-Review = -2..+2 group user/dstepanovsrc
	label-Verified = -1..+1 group user/dstepanovsrc
	rebase = group user/dstepanovsrc
	removeReviewer = group user/dstepanovsrc
	submit = group user/dstepanovsrc
[access "refs/heads/*"]
	read = group user/dstepanovsrc
	create = group user/dstepanovsrc
	push = +force group user/dstepanovsrc
	pushMerge = group user/dstepanovsrc
[access "refs/tags/*"]
	push = group user/dstepanovsrc
	push = +force group user/dstepanovsrc
